name: Build and Deploy

on:
  push:
    branches: [ main ]


jobs:
  uploadfiles:
    name: Build and Package
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Calling custom action
        uses: suresh-organization/myfirst-custom-action@v2
        with:
          iam-role-arn: ${{ secrets.IAMROLE_GITHUB }}
          bucket-name: github-action-suresh
          filename: helloworld.py
